In [2]:
from selenium import webdriver
import time
import chromedriver_autoinstaller
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
from urllib.request import Request, urlopen
import os

In [3]:
driver = webdriver.Chrome()
driver.implicitly_wait(3)

In [4]:
# 접근
url = 'https://search.shopping.naver.com/search/category/100000923'
driver.get(url)

In [5]:
data2 = driver.find_elements(By.CLASS_NAME, 'adProduct_item__1zC9h')

In [6]:
print(data2)

[<selenium.webdriver.remote.webelement.WebElement (session="8f3b497b1ff877a86a820485af1ac212", element="493CF708FEFE1E5EAE28D603BBBEDBF7_element_72")>, <selenium.webdriver.remote.webelement.WebElement (session="8f3b497b1ff877a86a820485af1ac212", element="493CF708FEFE1E5EAE28D603BBBEDBF7_element_73")>, <selenium.webdriver.remote.webelement.WebElement (session="8f3b497b1ff877a86a820485af1ac212", element="493CF708FEFE1E5EAE28D603BBBEDBF7_element_74")>]

In [7]:
print(len(data2))

3

In [8]:
for _ in range(5):
    driver.execute_script('window.scrollTo(0, document.body.scrollHeight)')
    time.sleep(1)

In [9]:
data2 = driver.find_elements(By.CLASS_NAME, 'adProduct_item__1zC9h')

In [10]:
print(data2)

[<selenium.webdriver.remote.webelement.WebElement (session="8f3b497b1ff877a86a820485af1ac212", element="493CF708FEFE1E5EAE28D603BBBEDBF7_element_72")>, <selenium.webdriver.remote.webelement.WebElement (session="8f3b497b1ff877a86a820485af1ac212", element="493CF708FEFE1E5EAE28D603BBBEDBF7_element_73")>, <selenium.webdriver.remote.webelement.WebElement (session="8f3b497b1ff877a86a820485af1ac212", element="493CF708FEFE1E5EAE28D603BBBEDBF7_element_74")>, <selenium.webdriver.remote.webelement.WebElement (session="8f3b497b1ff877a86a820485af1ac212", element="493CF708FEFE1E5EAE28D603BBBEDBF7_element_77")>, <selenium.webdriver.remote.webelement.WebElement (session="8f3b497b1ff877a86a820485af1ac212", element="493CF708FEFE1E5EAE28D603BBBEDBF7_element_78")>, <selenium.webdriver.remote.webelement.WebElement (session="8f3b497b1ff877a86a820485af1ac212", element="493CF708FEFE1E5EAE28D603BBBEDBF7_element_79")>]

In [11]:
print(len(data2))

6

In [16]:
adproduct = []
path = os.getcwd()

for data in data2: 
    category = data.find_elements(By.CLASS_NAME, "adProduct_category__ZIAfP")[-1].text
    title = data.find_element(By.CLASS_NAME, "adProduct_link__NYTV9").text
    
    if not os.path.exists(category):
        os.mkdir(category)
        
    up = data.find_element(By.CLASS_NAME, "thumbnail_thumb_wrap__RbcYO")
    imgs = up.find_element(By.TAG_NAME, "img").get_attribute("src")
    filename = imgs.split('/')[-1].split('?')[0]
    
    image_byte = Request(imgs)
    f = open(f'{category}/{filename}', 'wb')
    f.write(urlopen(image_byte).read())
    f.close()
    
    file_path = os.path.join(path, category, filename)
    product = {'category' : category , 'title' : title, 'file_path' : file_path}
    adproduct.append(product)

In [18]:
print(len(adproduct))

6

In [19]:
df = pd.DataFrame(adproduct)

In [20]:
df

,category,title,file_path
0,남성향수,"아프리모 더바디 남자향수 50ml, 살냄새향수",C:\python\Crawling\남성향수\343149-52d39fc4-9d50-4...
1,여성향수,더바디 아프리모 10대향수,C:\python\Crawling\여성향수\343149-b2dd307d-289c-4...
2,남성향수,디아르망 옴므 남자향수,C:\python\Crawling\남성향수\1121849-d090e28e-74ab-...
3,남성향수,아프리모 더바디 남자향수추천,C:\python\Crawling\남성향수\82159383716.5.jpg
4,여성향수,아프리모 더바디 살냄새 여자향수 50ml,C:\python\Crawling\여성향수\82215036726.5.jpg
5,여성향수,탐니크 러셀브 승무원 고체향수,C:\python\Crawling\여성향수\1964678-35ad81b1-69af-...

In [22]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
                                              0.0/43.7 kB ? eta -:--:--
     ---------------------------------------- 43.7/43.7 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [27]:
import numpy as np
import pymysql
import sqlite3

In [34]:
import pymysql
import pandas as pd

# 데이터베이스 연결
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    database='kdt'
)

# DataFrame을 SQL 테이블로 옮기기
table_name = '향수'  # 생성할 테이블 이름
df.to_sql(table_name, connection, if_exists='replace', index=False)

# 데이터베이스 연결 종료
connection.close()

C:\Users\강진영\AppData\Local\Temp\ipykernel_17552\1980863451.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, connection, if_exists='replace', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [36]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.16-cp311-cp311-win_amd64.whl (2.0 MB)
                                              0.0/2.0 MB ? eta -:--:--
     ----------                               0.5/2.0 MB 16.3 MB/s eta 0:00:01
     ----------                               0.5/2.0 MB 16.3 MB/s eta 0:00:01
     -----------------                        0.9/2.0 MB 6.1 MB/s eta 0:00:01
     ---------------------------------------- 2.0/2.0 MB 11.4 MB/s eta 0:00:00
Collecting typing-extensions>=4.2.0 (from sqlalchemy)
  Downloading typing_extensions-4.6.3-py3-none-any.whl (31 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-2.0.2-cp311-cp311-win_amd64.whl (192 kB)
                                              0.0/192.5 kB ? eta -:--:--
     ------------------------------------- 192.5/192.5 kB 11.4 MB/s eta 0:00:00
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.16 typing-extensions-4.6.3

In [37]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL 데이터베이스 연결 설정
host = 'localhost'
port = 3306
user = 'root'
password = '1234'
database = 'kdt'

# 데이터베이스 연결 엔진 생성
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

# 데이터프레임을 SQL 테이블로 옮기기
table_name = '향수'  # 생성할 테이블 이름
df.to_sql(table_name, engine, if_exists='replace', index=False)

# 데이터베이스 연결 종료
engine.dispose()